<div>There are <%= Recipebook.count %> recipes in your recipe book</div>


<div class="grid-container_recipes">

    <div class = "grid-header">Recipe Name</div>

    <div class = "grid-header">Preparation Time (minutes)</div>
    
    <% @recipes.each do |recipe| %>

    <div class="grid-item item_recipe_name">
        <%= recipe.name %>
<<<<<<< HEAD
=======

        <a href=<%="/edit_form/#{recipe.id}"%>>Edit</a>
    </li>
<% end %>
</ul>

<div class="submit_btn">
<a class="submit_btn_text" href="/add_recipe_form">Add a new recipe</a>
</div>

</div>

    <div class="grid-item>
        <%= recipe.prep_time %>
    </div>
<% end %> -->

    <!-- <div class="grid-item item_recipe_name">
        Key Lime Pie
>>>>>>> 3caeb574e80e15c1315afe05c2cec5d50033df45
    </div>

    <div class="grid-item">
        <%= recipe.prep_time %>
    </div>
<% end %>

</div>
<<<<<<< HEAD

<div class="submit_btn">
    <a class="submit_btn_text" href="/add_recipe_form">Add a new recipe</a>
    </div>
=======
>>>>>>> 3caeb574e80e15c1315afe05c2cec5d50033df45
